@{
    ViewData["Title"] = "Domů";
}

<div id="iframe-container">
    <iframe src="https://farmsoft.shinyapps.io/en_cz/" class="iframe-layout">
    </iframe>
</div>

@section Scripts {
    <script>

    </script>
}
